:root {
  --color-primary: #7b8efa;
  --color-primary-light: #4755a9;
  --color-primary-dark: #5a65a0;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-light-5: #dbd8d8b9;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #e3e3e3;
  --color-grey-dark-5: #dfdfdf;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
  --right-box-oppacity: rgba(#e4e2e2de, 0.8);
  --left-box-oppacity: rgba(#f5f3f3ee, 0.8); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8;
  background-image: url(../public/img/sunny.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100vh; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28rem;
  margin-right: 1rem;
  margin-top: -1rem; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-dark-5);
    border: none;
    padding: .7rem 1.7rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-dark-5); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-1); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-dark-5); }
  .search__button {
    border: none;
    background-color: var(--color-grey-dark-5); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(1px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary); }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }

.container {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  @media only screen and (max-width: 912px) {
    .container {
      flex-direction: column;
      width: 80%;
      overflow: auto; } }
  @media only screen and (max-width: 714px) {
    .container {
      width: 100%;
      overflow: auto; } }

.left-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  overflow: hidden;
  background-color: rgba(245, 243, 243, 0.8);
  color: var(--color-grey-dark-1); }

#no-data {
  color: var(--color-grey-dark-1);
  font-weight: 500; }

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  position: relative;
  bottom: 12%; }
  .elements #weather-icon-img {
    margin-top: -1rem; }
  .elements > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .elements__temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 2.7rem; }
    .elements__temperature-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 2.5rem; }
      .elements__temperature-wrapper > span {
        font-size: 5rem; }
    .elements__temperature-description {
      margin-top: -2rem; }
  .elements__celcius {
    width: 7rem;
    position: absolute;
    left: calc(100% - 2rem);
    top: 44%;
    transform: translateY(-50%);
    fill: var(--color-grey-dark-1); }
  .elements__day {
    display: block;
    text-align: center; }
    .elements__day > #month {
      margin-top: 1rem;
      font-size: 1rem; }
  .elements__country {
    font-size: 1.8rem;
    position: relative;
    top: 3.5%; }

form {
  position: relative;
  bottom: 2.3%; }

.breakline {
  border: none;
  height: 0.15rem;
  background-color: var(--color-grey-dark-3);
  width: 50%;
  position: relative;
  bottom: 2.2%; }

.right-block {
  flex: 2;
  padding: 2rem;
  background-color: rgba(228, 226, 226, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.bar {
  display: flex;
  gap: 1rem;
  color: var(--color-grey-dark-1);
  margin-bottom: 1rem; }
  .bar .bar__button {
    border: none;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    background-color: var(--right-box-oppacity);
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 0.5rem; }
    .bar .bar__button:focus {
      background-color: var(--right-box-oppacity);
      outline: none;
      transition: all .1s; }
      .bar .bar__button:focus:active {
        transform: translateY(1px); }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-grow: 1;
  column-gap: 2.5rem;
  row-gap: 0.5rem;
  width: 100%;
  margin-top: -0.4rem; }
  .grid > div {
    align-self: center;
    min-height: 10rem;
    max-height: 10rem;
    background-color: var(--color-primary);
    border-radius: 0.9rem;
    padding: .7rem 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-grey-light-2); }
  .grid__celcius {
    width: 2rem; }
  @media only screen and (max-width: 714px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr); } }

.elements__arrow {
  width: 1.6rem; }

.footer {
  color: var(--color-grey-dark-2);
  font-size: 1.2rem;
  margin-top: 1rem; }

.footer-btn {
  border: none;
  background-color: var(--right-box-oppacity);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all .3s;
  position: absolute;
  margin-left: 0.3rem; }
  .footer-btn:hover {
    outline: none;
    font-size: 1.3rem; }
  .footer-btn:focus {
    outline: none;
    transition: .2; }
    .footer-btn:focus:active {
      transform: translateY(1px); }

.info-box {
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--color-grey-light-1);
  font-size: 1.6rem;
  font-weight: 500;
  position: relative; }
  .info-box .label {
    font-weight: 400;
    font-size: 1.3rem; }
  .info-box .grid__celcius {
    fill: var(--color-grey-light-1);
    position: absolute;
    top: calc(100% - 4rem);
    left: 52%;
    transform: translateY(-50%); }
  .info-box #arrow-up {
    fill: #f37676;
    position: absolute;
    top: calc(100% - 5.3rem);
    left: 35%;
    transform: translateY(-50%); }
    .info-box #arrow-up .arrow-up__celcius {
      width: 1rem; }
  .info-box #arrow-down {
    fill: #90c245;
    position: absolute;
    top: calc(100% - 2.3rem);
    left: 35%;
    transform: translateY(-50%); }
  .info-box .arrow-down__celcius {
    fill: var(--color-grey-light-1);
    width: 2rem;
    position: absolute;
    top: calc(100% - 2.6rem);
    left: 52%;
    transform: translateY(-50%); }
  .info-box .arrow-up__celcius {
    fill: var(--color-grey-light-1);
    width: 2rem;
    position: absolute;
    top: calc(100% - 5.5rem);
    left: 52%;
    transform: translateY(-50%); }
