body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    @media only screen and (max-width: 912px){
        flex-direction: column;
        width:80%;
        overflow:auto;
    }

    @media only screen and (max-width: 714px){
       width: 100%;
       overflow:auto;
    }
}
///////////////////////
/// LEFT BLOCK CSS
/// //////////////////
/// 
.left-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    overflow: hidden;
    background-color: rgba(#f5f3f3ee, 0.8);
    color: var(--color-grey-dark-1);
}

#no-data {
    color: var(--color-grey-dark-1);
    font-weight: 500;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    position: relative;
    bottom: 12%;
    // min-width: 30rem;

    #weather-icon-img {
        margin-top: -1rem;
    }


    & > * {
        padding: 0 2rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__temperature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        bottom: 2.7rem;
        

        &-wrapper {
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 2.5rem;

            & > span {
                font-size: 5rem;
            }
        }

        &-description {
            margin-top: -2rem;
        }
    }

    &__celcius {
        width: 7rem;
        position: absolute; // Position the Celsius icon absolutely
        left: calc(100% - 2rem); // Adjust the distance as needed
        top: 44%; // Align vertically
        transform: translateY(-50%);
        fill: var(--color-grey-dark-1);
    }

    &__day {
        display: block;
        text-align: center;

        & > #month {
            margin-top: 1rem;
            font-size: 1rem;
        }
    }

    &__country {
        font-size: 1.8rem;
        position: relative;
        top:3.5%
    }
}

form {
    position: relative;
    bottom: 2.3%;
}

.breakline {
    border: none;
    height: 0.15rem;
    background-color: var(--color-grey-dark-3);
    width: 50%;
    position: relative;
    bottom: 2.2%;
}

///////////////////////
/// RIGTH BLOCK CSS
/// //////////////////
.right-block {
    flex: 2;
    padding: 2rem;
    background-color: rgba(#e4e2e2de, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    display: flex;
    gap: 1rem;
    color: var(--color-grey-dark-1);
    margin-bottom: 1rem;

    .bar__button {
        border: none;
        font-size: 1.6rem;
        font-family: inherit;
        text-align: center;
        background-color: var(--right-box-oppacity);
        border-radius: 0.8rem;
        cursor: pointer;
    
        padding: 0.5rem;    
    
        &:focus {
            background-color: var(--right-box-oppacity);
            outline: none;
            transition: all .1s;
    
            &:active {
                transform: translateY(1px);
            }
        }
    }
}



.grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-grow: 1;
    column-gap: 2.5rem;
    row-gap: 0.5rem;

    width: 100%;
    margin-top: -0.4rem;

    & > div {
        align-self: center;
        min-height: 10rem;
        max-height: 10rem;
        background-color: var(--color-primary);
        border-radius: 0.9rem; 
        padding: .7rem 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        text-align: center; 
        color: var(--color-grey-light-2);
    }

    &__celcius {
        width: 2rem;
    }

    @media only screen and (max-width: 714px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.elements__arrow {
    width: 1.6rem;
}

.footer {
    color: var(--color-grey-dark-2);
    font-size: 1.2rem;
    margin-top: 1rem;
}

.footer-btn {
    border: none;
    background-color:  var(--right-box-oppacity);
    color: var(--color-primary);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .3s;
    position: absolute;
    margin-left: 0.3rem;

    &:hover {
        outline: none;
        font-size: 1.3rem;
    }

    &:focus {
        outline: none;
        transition: .2;

        &:active {
            transform: translateY(1px);
        }
    }
}

.info-box {
    border-radius: 1rem;
    padding: 1.5rem;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;

    .label {
        font-weight: 400;
        font-size: 1.3rem;
    }

    .grid__celcius {
        fill: var(--color-grey-light-1);
        position: absolute;
        top: calc(100% - 4rem);
        left: 52%;
        transform: translateY(-50%);

    }
    
    #arrow-up {
        fill: rgb(243, 118, 118);
        position: absolute;
        top: calc(100% - 5.3rem);
        left: 35%;
        transform: translateY(-50%);

        .arrow-up__celcius {
            width: 1rem;
        }
    }

    #arrow-down {
        fill: rgb(144, 194, 69);
        position: absolute;
        top: calc(100% - 2.3rem);
        left: 35%;
        transform: translateY(-50%);
    }

    .arrow-down__celcius {
        fill: var(--color-grey-light-1);
        width: 2rem;
        position: absolute;
        top: calc(100% - 2.6rem);
        left: 52%;
        transform: translateY(-50%);
    }

    .arrow-up__celcius {
        fill: var(--color-grey-light-1);
        width: 2rem;
        position: absolute;
        top: calc(100% - 5.5rem);
        left: 52%;
        transform: translateY(-50%);
    }
}
